.dashboard__cont {
    position: absolute;
    width: 90vw;
    left: 2vw;
    top: 12.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

}

.dashboard__cont__header {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 90%;
    margin-top: 70px;
    color: #213f7d;
    left: 50px;
    font-weight: 500;
}

@media screen and (min-width:1130px) {
    .dashboard__cont {
        left: 20vw;
        width: 78.5vw;
    }

    .dashboard__cont__header {
        left: 0;
    }
    
}