.main__app__cont {
  position: relative;
  background-color: #e5e7eb;
}

.loading__cont {
  position: absolute;
  width: 78vw;
  height: 85vh;
  align-items: center;
  left: 20vw;
  top: 12.5vh;
  display: flex;
  justify-content: center;
}
