$color_1: #213f7d;
$font-family_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$background-color_1: #fff;

.single__user__cont {
  width: 90%;
  display: flex;
  flex-direction: column;
  color: $color_1;
  font-family: $font-family_1;
  border-radius: 3px;
  background-color: $background-color_1;
  row-gap: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}
.personal__info__cont {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid #7b8baa;
}
.category__name {
  font-size: 18px;
  text-transform: capitalize;
}
.personal__info__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.single__info {
  position: relative;
  width: 40%;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  row-gap: 5px;
  text-transform: uppercase;
  h3 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
  }
}
.email__addy {
  h3 {
    text-transform: lowercase;
  }
}
.twitter {
  h3 {
    text-transform: lowercase;
  }
}

.email__guarantor h3 {
  text-transform: lowercase;
}

.unnamed__cont {
  border-bottom: none;
}
@media screen and (min-width: 1130px) {
  .single__info {
    width: 22%;
  }
}
