.details__page__cont {
  position: absolute;
  width: 90vw;
  left: 2vw;
  top: 12.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

@media screen and (min-width: 1130px) {
  .details__page__cont {
    left: 20vw;
    width: 78.5vw;
  }
}
