.filter__cont {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    width: 30%;
    left: 2vw;
    z-index: 900;
    top: 10vh;
    border: 1px solid rgb(210, 205, 205);
}

.filter__form__cont {
    position: relative;
    width: 95%;
    display: flex;
    margin-top: 15px;
    
}

.filter__input {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 5px;
}

.filter__cont label {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.filter__input input {
    position: relative;
    height: 30px;
    width: 210px;
    margin: auto auto;
    padding: 3px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.data__list__cont {
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.react-datalist-input__textbox {
    height: 30px;
    width: 90%;
    position: relative;
    border: 1px solid #545f7d;
    margin-top: 5px;
    padding: 3px 10px;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .react-datalist-input__listbox {
    width: 100%;
    overflow-x: hidden;
    margin-top: 5px;
    position: absolute;
    padding: 0;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    z-index: 10;
  }
  
  .react-datalist-input__listbox-option {
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .react-datalist-input__listbox-option:hover {
    background-color: #f2f2f2;
    border-radius: 6px;
  }

  .form__button__control {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .form__button__control button {
    display: flex;
    position: relative;
    width: 45%;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0;
  }

  .submit__btn__ {
    background-color: #39cdcc;
    color: #fff;
    border: none;
  }

  .reset__control {
    background-color: #fff;
    color: #545f7d;
    border: 1px solid #545f7d;
    outline: none;
  }